<!DOCTYPE html>
<html lang="en">
<%- include('template/head',{title:'廁所分配'}) %>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%- include('template/left_col') %>




          <!-- page content -->
          <div class="right_col" role="main">
            <div class="">
              <div class="page-title">
                <div class="title_left">
                  <h3>廁所分配</h3>
                </div>

                <div class="title_right">
                  <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="row">
                <div class="col-md-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>廁所編號</h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li>
                          <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                          </a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="fa fa-wrench"></i>
                          </a>
                          <ul class="dropdown-menu" role="menu">
                            <li>
                              <a href="#">Settings 1</a>
                            </li>
                            <li>
                              <a href="#">Settings 2</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a class="close-link">
                            <i class="fa fa-close"></i>
                          </a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">




                      <div class="bs-docs-section">
                        <h1 id="glyphicons" class="page-header"></h1>

                        <h2 id="glyphicons-glyphs"></h2>

                        <div class="bs-glyphicons">
                          <ul class="bs-glyphicons-list">
                            <% for(var i=1;i<=6;i++){ %>
                              <% for(var j=1;j<=10;j++){ 
                                if(Math.random()*(1+0)*1>=0.25){
                                  var id = "glyphicon glyphicon-ok-sign"
                                }else{
                                  var id = "glyphicon glyphicon-remove-sign"
                                }
                              %>
                              <li>
                                <span class= "<%= id %>"aria-hidden="true"></span>
                                <span class="glyphicon-class">工程<%= i %>館<br/>編號<%= j %>
                                <% if(id=="glyphicon glyphicon-remove-sign"){ %>
                                  <br/>錯誤
                                <% } %>
                                %>
                                </span>
                              </li>
                              <% } %>
                            <% } %>
                            <ul>

                        </div>

                        <!-- /page content -->

                        <!-- footer content -->
                        <footer>
                          <div class="pull-right">
                            Gentelella - Bootstrap Admin Template by
                            <a href="https://colorlib.com">Colorlib</a>
                          </div>
                          <div class="clearfix"></div>
                        </footer>
                        <!-- /footer content -->
                      </div>
                    </div>

                    <!-- jQuery -->
                    <script src="../vendors/jquery/dist/jquery.min.js"></script>
                    <!-- Bootstrap -->
                    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
                    <!-- FastClick -->
                    <script src="../vendors/fastclick/lib/fastclick.js"></script>
                    <!-- NProgress -->
                    <script src="../vendors/nprogress/nprogress.js"></script>

                    <!-- Custom Theme Scripts -->
                    <script src="../build/js/custom.min.js"></script>
  </body>

</html>